@import "../../mixins";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  // padding: 20px;
  background-color: #272727;
  color:antiquewhite;

  &__logo {
    img {
      height: 100%; // зробити логотип розміром з батьківський контейнер
      color:antiquewhite;
    }
  }
    &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -204px; // проміжок між логотипом та текстом
    }
    &__text p:first-child {
    margin-left: -23px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    }

    &__text p:last-child {
    margin-left: -124px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    opacity: 0.6;
    }
    &__links {
    display: flex;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;
    color: #FFFFFF;
    align-items: center;
    cursor: pointer;

    &__links__li {
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
}

.nav__links__li:hover {
  text-decoration: underline;
  color: #FCD54C;
}
    
  a {
      margin-right: 20px; // проміжок між елементами меню
    }
    }
  .nav__buttons {
  display: flex;
  align-items: center;
  }

  .nav__buttons_glob {
  display: flex;
  align-items: center;
  margin-right: 20px;
  }

  .btn__consultation {
  background-color: #FCD54C;;
  border: none;
  width: 181px;
  height: 41px;
  left: 1292px;
  top: 11px;
  padding: 13px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-family: 'Work Sans SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  color: #000000;
  margin-right:118px;
  }

  .nav__language {
  display: flex;
  }

  .btn__lang {
  background-color: #272727;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #FFFFFF;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  }
  .btn__lang:hover{
    
    color: #FCD54C;
  }
  .nav__phone {
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
  }
  .nav__phone:hover{
    color: #FCD54C;
  }
}



.nav__links__li__buy {
  position: relative;
}

.nav__links__li__buy:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 15px;
  right: -12px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFFFFF;
}




